@import 'lib/banner.css';
@import 'lib/card.css';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

form {
    display: block;
    margin-top: 0em;
}

.btn-flat {
    color: white !important;
    padding: 8px 24px !important;
    border-radius: 4px !important;
    background: #FF3463 !important;
    -webkit-transition: background 0.3s ease !important;
    transition: background 0.3s ease !important;
}

.btn-flat:hover {
  background: #20c997!important
}

.footer {
    background-color: #F2F9FF;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 25px;
    padding: 25px;
    color: rgba(0,0,0,0.3);
    width: 100%;
}

.footer-links {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.footer-links a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
}
